Repository Deland-Labs/ic_common, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ§¾ ic_common, â›³ ic_test_common, Actions

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

ðŸ§¾ ic_common: src/ic_common/**/*
â›³ ic_test_common: src/ic_test_common/**/*
Actions: .github/workflows/**/*

Add renovate.json
  renovate.json
Labels: none

Update Rust crate anyhow to 1.0.48
  src/ic_common/Cargo.toml
Labels: ðŸ§¾ ic_common

Update Rust crate serde to 1.0.130
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate async-std to 1.10
  src/canisters/my_example/Cargo.toml
Labels: none

?
  .github/workflows/main.yml
Labels: Actions

go
  .github/workflows/main.yml
Labels: Actions

remove dfx
  src/.dfx/pid
  src/.dfx/replica-configuration/replica-pid
  src/.dfx/state/replicated_state/ic.json5
  src/.dfx/state/replicated_state/node-100/state/states_metadata.pbuf
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/vmemory_0.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/vmemory_0.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/vmemory_0.bin
  src/.dfx/webserver-port
Labels: none

ignore dfx
  .gitignore
  src/.dfx/state/replicated_state/node-100/state/states_metadata.pbuf
Labels: none

remove
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/vmemory_0.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/vmemory_0.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/stable_memory.bin
  src/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/vmemory_0.bin
Labels: none

remove sleep
  src/sh_start.sh
Labels: none

Fix github action (#8)
  .github/workflows/main.yml
  .gitignore
  src/.dfx/icx-proxy-pid
  src/.dfx/pid
  src/.dfx/replica-configuration/replica-pid
  src/.dfx/state/replicated_state/ic.json5
  src/.dfx/webserver-port
  src/sh_start.sh
Labels: Actions

Update Rust crate anyhow to 1.0.49
  src/ic_common/Cargo.toml
Labels: ðŸ§¾ ic_common

Update Rust crate anyhow to 1.0.50
  src/ic_common/Cargo.toml
Labels: ðŸ§¾ ic_common

Update Rust crate anyhow to 1.0.51
  src/ic_common/Cargo.toml
Labels: ðŸ§¾ ic_common

Update Rust crate serde to 1.0.131
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate rstest to 0.12.0
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate async-trait to 0.1.52
  src/ic_test_common/Cargo.toml
Labels: â›³ ic_test_common

Update Rust crate candid to 0.7.9
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate serde to 1.0.132
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate anyhow to 1.0.52
  src/ic_common/Cargo.toml
Labels: ðŸ§¾ ic_common

Update Rust crate candid to 0.7.10
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate serde to 1.0.133
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update actions/checkout action to v3
  .github/workflows/main.yml
Labels: Actions

Update actions/labeler action to v4
  .github/workflows/labeler.yml
Labels: Actions

Update Rust crate candid to 0.7.14
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common

Update Rust crate serde to 1.0.137
  src/canisters/my_example/Cargo.toml
  src/ic_common/Cargo.toml
  src/ic_test_common/Cargo.toml
Labels: ðŸ§¾ ic_common, â›³ ic_test_common
